/*GLOBALES ESCRITORIO*/

*,
*:before,
*:after {
    font-size: 62.5%;
    font-family: 'Montserrat', sans-serif !important;
}


/* FONDOS */

body {
    color: white;
    background-color: white;
}

.fondo-celeste {
    background-color: #007994;
}

.fondo-blanco {
    background-color: white;
    padding: 3rem 1rem;
    color: #007994 !important;
}


/*FUENTES - DESKTOP */

h1 {
    Font-size: 4.8rem;
}

h2 {
    Font-size: 4.0rem;
}

h3 {
    Font-size: 3.5rem;
    font-weight: 700;
}

h4 {
    Font-size: 2.8rem;
}

h5 {
    font-weight: bold;
    font-size: 2.2rem !important;
}

p {
    font-size: 2rem;
}

.centrar-textos {
    text-align: center;
}

.centrar-contenido {
    display: flex;
    justify-content: center;
}

.texto-azul {
    color: #007994;
}

.texto-resaltado {
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
    font-weight: bold;
    font-size: 4.8rem;
    color: #72f1e7;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.espacio-textos {
    margin: 2rem 0rem;
}

.titulos {
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
    margin: 2rem 0rem;
    font-weight: bold;
}

.titulos2 {
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
    margin: 2rem 0rem;
    padding: 0rem 1rem;
}

.titulos-blancos {
    font-family: 'Montserrat', sans-serif !important;
    text-align: center;
    margin: 1rem 0rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.titulos-blog {
    font-weight: bold;
    text-align: left;
    margin: 2rem 0rem;
}


/*IMAGENES*/

img {
    width: 70%;
}

.imagenchica img {
    width: 30%;
}


/* LINKS */

a {
    text-decoration: none;
    color: white;
}

a:visited {
    color: white;
}

.espacio-costados {
    padding: 2rem 2rem 0rem 2rem;
}