    /*GLOBALES 768PX */
    
    @media (max-width: 768px) {
        section {
            padding-right: 2rem;
        }
        h1 {
            Font-size: 4rem;
        }
        h2 {
            Font-size: 3.5rem;
        }
        h3 {
            Font-size: 3rem;
        }
        h4 {
            Font-size: 2.5rem;
        }
        p {
            font-size: 2rem;
            font-weight: 700;
        }
    }
    /*GLOBALES 400PX */
    
    @media (max-width: 400px) {
        h1 {
            Font-size: 3.5rem;
        }
        h2 {
            Font-size: 3rem;
        }
        h3 {
            Font-size: 2.5rem;
        }
        h4 {
            Font-size: 2rem;
        }
        p {
            font-size: 1.8rem;
        }
    }
    /*MENÚ MOVIL */
    
    @media (max-width: 768px) {
        .menu-movil {
            display: flex;
        }
        .menu-escritorio {
            display: none;
        }
    }
    /*FOOTER MOVIL*/
    
    @media (max-width: 768px) {
        footer {
            .footer-group ul {
                display: none;
            }
        }
        .footer-group-mobile {
            display: flex;
        }
    }
    /*MAIN - INICIO - TABLET */
    
    @media (max-width: 1024px) {
        .doscolumnas {
            grid-template-columns: 1fr;
        }
        .columnados {
            justify-content: center;
        }
    }
    /*MAIN - INICIO - MOVIL */
    
    @media (max-width: 768px) {
        .doscolumnas {
            grid-template-columns: 1fr;
        }
        .columnados {
            justify-content: center;
        }
    }
    /*SECTION - DESTACADOS - MOVIL*/
    
    @media (max-width: 768px) {
        .imagenchica img {
            width: 40%;
        }
        .cuatrocontenidos {
            display: flex;
            flex-direction: column;
        }
    }
    /* NUESTROS SERVICIOS - TABLET*/
    
    @media (max-width: 1024px) {
        .trescolumnas {
            grid-template-columns: 1fr;
        }
        .caja-servicios {
            margin-bottom: 3rem;
            max-width: 55%;
        }
        .doscolumnas-garantia {
            grid-template-columns: 1fr;
            text-align: center;
        }
        .comprarboton {
            width: 40%;
        }
    }
    /*NUESTROS SERVICIOS MOVIL*/
    
    @media (max-width: 768px) {
        .trescolumnas {
            grid-template-columns: 1fr;
        }
        .caja-servicios {
            margin-bottom: 3rem;
            max-width: 65%;
        }
        .doscolumnas-garantia {
            grid-template-columns: 1fr;
            text-align: center;
        }
        .comprarboton {
            width: 40%;
        }
    }
    /*SERVICIOS-CV - TABLET*/
    
    @media (max-width: 1024px) {
        .trespasos {
            grid-template-columns: 1fr;
            text-align: center;
        }
        .columnados img {
            display: none;
        }
    }
    /*SERVICIOS-CV - MOVIL*/
    
    @media (max-width: 768px) {
        .trespasos {
            grid-template-columns: 1fr;
            text-align: center;
        }
        .precios {
            flex-direction: column;
            align-items: center;
        }
        .card-precios {
            max-width: 50%;
        }
        .columnados img {
            display: none;
        }
    }
    /*BLOG - MOVIL */
    
    @media (max-width: 768px) {
        .blog {
            flex-wrap: nowrap;
            flex-direction: column;
            padding: 0rem 0rem 1rem 1rem;
        }
        .card-blog {
            max-width: none;
        }
    }
    /*ENTRADAS-BLOG - TABLET */
    
    @media (max-width: 1024px) {
        .doscolumnas-blog {
            grid-template-columns: 1fr;
        }
    }
    /*ENTRADAS-BLOG - MOVIL */
    
    @media (max-width: 768px) {
        .doscolumnas-blog {
            grid-template-columns: 1fr;
        }
    }