/*GLOBALES 1024PX */

@media (max-width: 1024px) {
    h1 {
        font-size: nth($list: $fuentes-1024, $n: 1);
    }
    h2 {
        font-size: nth($list: $fuentes-1024, $n: 2);
    }
    h3 {
        font-size: nth($list: $fuentes-1024, $n: 3);
    }
    h4 {
        font-size: nth($list: $fuentes-1024, $n: 4);
    }
    h5 {
        font-size: nth($list: $fuentes-1024, $n: 5);
    }
    p {
        font-size: nth($list: $fuentes-1024, $n: 6);
    }
    .texto-resaltado {
        font-size: 4rem;
    }
}


/*GLOBALES 768PX */

@media (max-width: 768px) {
    section {
        padding-right: 2rem;
    }
}


/*GLOBALES 400PX */

@media (max-width: 400px) {
    h1 {
        font-size: nth($list: $fuentes-400, $n: 1);
    }
    h2 {
        font-size: nth($list: $fuentes-400, $n: 2);
    }
    h3 {
        font-size: nth($list: $fuentes-400, $n: 3);
    }
    h4 {
        font-size: nth($list: $fuentes-400, $n: 4);
    }
    h5 {
        font-size: nth($list: $fuentes-400, $n: 5);
    }
    p {
        font-size: nth($list: $fuentes-400, $n: 6);
    }
    .texto-resaltado {
        font-size: 3.5rem;
    }
}


/*MENÚ MOVIL */

@media (max-width: 768px) {
    .menu-movil {
        display: flex;
    }
    .menu-escritorio {
        display: none;
    }
}


/*FOOTER MOVIL*/

@media (max-width: 768px) {
    footer {
        .footer-group ul {
            display: none;
        }
    }
    .footer-group-mobile {
        display: flex;
    }
}


/*MAIN - INICIO - MOVIL */

@media (max-width: 700px) {
    .doscolumnas {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .columnauno {
        padding-left: 0;
    }
    .columnados {
        justify-content: center;
    }
}


/*SECTION - INICIO - MOVIL*/

@media (max-width: 768px) {
    .section-index {
        div {
            div {
                &.cuatrocontenidos {
                    display: flex;
                    flex-direction: column;
                    div {
                        &.imagenchica img {
                            width: 40%;
                        }
                        &.uno {
                            grid-area: primero;
                        }
                        &.dos {
                            grid-area: segundo;
                        }
                        &.tres {
                            grid-area: tercero;
                        }
                        &.cuatro {
                            grid-area: cuarto;
                        }
                    }
                }
            }
        }
    }
}


/* NUESTROS SERVICIOS - TABLET*/

@media (min-width:768px) and (max-width: 1024px) {
    .main-servicios {
        div {
            div {
                &.trescolumnas {
                    div {
                        &.caja-servicios {
                            margin-bottom: 3rem;
                            min-width: fit-content;
                        }
                    }
                }
            }
        }
    }
}


/*NUESTROS SERVICIOS MOVIL*/

@media (max-width:768px) {
    .main-servicios {
        div {
            div {
                &.trescolumnas {
                    grid-template-columns: 1fr;
                    div {
                        &.caja-servicios {
                            margin: 0rem 0rem 3rem 0rem;
                            max-width: 60%;
                            min-width: 200px;
                        }
                    }
                }
            }
        }
    }
}


/*SERVICIOS-CV - MOVIL*/

@media (max-width: 768px) {
    .precios {
        flex-direction: column;
        align-items: center;
        div {
            &.card-precios {
                min-width: 240px;
            }
        }
    }
    .trespasos {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .columnados img {
        max-width: 300px;
    }
}


/*BLOG - TABLET */

@media (min-width:768px) and (max-width: 1024px) {
    .main-blog {
        div {
            &.blog {
                div {
                    &.card-blog {
                        max-width: 40%;
                        min-width: 20%;
                    }
                }
            }
        }
    }
}


/*BLOG - MOVIL */

@media (max-width: 768px) {
    .main-blog {
        div {
            &.blog {
                flex-wrap: nowrap;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0rem 0rem 1rem 1rem;
                div {
                    &.card-blog {
                        max-width: 60%;
                        min-width: 200px;
                    }
                }
            }
        }
    }
}


/*ENTRADAS-BLOG - TABLET */

@media (max-width: 1024px) {
    .main-entradasblog {
        div {
            &.doscolumnas-blog {
                grid-template-columns: 1fr;
            }
        }
    }
}