 /*ENTRADAS - BLOG */
 
 .titulos-blog {
     font-weight: bold;
     text-align: left;
     margin: 2rem 0rem;
 }
 
 .portada-blog1 {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     position: relative;
     background: url(../assets/img/portadablog1.png) no-repeat center / cover;
     min-height: 300px;
 }
 
 .portada-blog2 {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     position: relative;
     background: url(../assets/img/portadablog2.png) no-repeat center / cover;
     min-height: 300px;
 }
 
 .portada-blog3 {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     position: relative;
     background: url(../assets/img/portadablog3.png) no-repeat center / cover;
     min-height: 300px;
 }
 
 .portada-blog4 {
     display: flex;
     align-items: center;
     justify-content: center;
     text-align: center;
     position: relative;
     background: url(../assets/img/portadablog4.png) no-repeat center / cover;
     min-height: 300px;
 }
 
 .entradasdeblogs {
     display: flex;
     justify-content: center;
     text-align: center;
     border-bottom: #001E4B solid 3px;
     padding: 1rem;
     background-color: rgba(255, 255, 255, 0.801);
     border-radius: 10px;
 }