/*BLOG - DESKTOP*/

.blog {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}


/*CONTACTOS - DESKTOP*/

.imagen-contactos {
    display: flex;
    justify-content: center;
    padding: 0rem 1rem;
    img {
        max-width: 300px;
    }
}


/*SERVICIOS-CV - DESKTOP*/

.precios {
    display: flex;
    justify-content: center;
}


/*DISEÑOS */

.carousel-control-prev {
    left: auto;
    height: 1px;
}

.carousel-control-next {
    right: 4rem;
    height: 1px;
}

.carrusel {
    @include flexs (flex, column, none, center, none);
    max-width: 600px;
    padding: 4rem 0rem;
}


/*ENTRADAS - BLOG */

.portada-blog1 {
    @include portadasblog (flex, center, center, center, relative, 300px);
    background: url(../assets/img/portadablog1.png) no-repeat center / cover;
}

.portada-blog2 {
    @include portadasblog (flex, center, center, center, relative, 300px);
    background: url(../assets/img/portadablog2.png) no-repeat center / cover;
}

.portada-blog3 {
    @include portadasblog (flex, center, center, center, relative, 300px);
    background: url(../assets/img/portadablog3.png) no-repeat center / cover;
}

.portada-blog4 {
    @include portadasblog (flex, center, center, center, relative, 300px);
    background: url(../assets/img/portadablog4.png) no-repeat center / cover;
}

.entradasdeblogs {
    @include flexs (flex, row, center, center, center);
    border-bottom: #007994 solid 3px;
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.801);
    border-radius: 10px;
}