/*BOTONES*/

.boton-azul {
    @include botones (white, bold, #007994, 10px, 1rem);
    box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}

.boton-blanco {
    @include botones (#007994, bold, white, 10px, 1rem);
    box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}