/*CARDS*/

.precios {
    display: flex;
    justify-content: center;
    div {
        &.card-precios {
            @include cards (2rem 1rem, rgba(0, 0, 0, 0.486), $color-primario, 30%, 10px, 1rem);
            display: flex;
            flex-direction: column;
            align-items: center;
            box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
            transition: transform 0.3s;
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}