.portada-carrito {
    @include portadasblog (flex, center, center, center, relative, 300px);
    flex-direction: column;
    background: url(../assets/img/portadablog1.webp) no-repeat center / cover;
}

.miscompras {
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    border: solid $color-secundario;
}

.carrito {
    #cart {
        padding: 10px;
        margin-top: 20px;
        #cartItems {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            .cartItem {
                display: flex;
                flex-direction: column;
                padding: 2rem 1rem;
                margin: 2rem;
                align-items: center;
                width: fit-content;
                cursor: pointer;
                font-size: 2.8rem;
                font-weight: 700;
                button {
                    @include botones ($color-primario, bold, $color-secundario, 10px, 1rem);
                    box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
                    transition: transform 0.3s;
                }
            }
        }
    }
}

//TOASTIFY
.toastify {
    font-size: 2.5em;
    padding: 2rem 2.8rem !important;
    font-weight: 700;
}