/*CARDS*/

.caja-servicios {
    @include cards (6rem 2rem, #007994, white, 80%, 0, 0);
    @include flexs ( flex, column, center, space-between, center);
    box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
    transition: transform 0.3s;
    border: white solid 4px;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    &:hover {
        transform: scale(1.1);
    }
}

.caja-interna {
    @include flexs ( flex, column, center, center, center);
}

.card-blog {
    @include cards (2rem, #007994, white, 35%, 5px, 2rem);
    @include flexs ( flex, column, center, start, left);
    box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.1);
    }
    img {
        width: 100%;
    }
    a {
        color: #ffffff;
    }
}

.card-precios {
    @include cards (2rem 1rem, rgba(0, 0, 0, 0.486), white, 30%, 10px, 1rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 10px 10px 35px 0px rgba(0, 0, 0, 0.75);
    transition: transform 0.3s;
    &:hover {
        transform: scale(1.1);
    }
}